<div class="container-fluid">
    <!-- Header Text -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-muted">Staff Portal</h4>
            <h6 class="text-muted">Client Onboarding</h6>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="filterByDays(1)">Today</button>
                <button type="button" class="btn btn-default" ng-click="filterByDays(7)">Past 7 Days</button>
                <button type="button" class="btn btn-default" ng-click="filterByDays()">All</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row table-row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-responsive table-hover table-condensed" ng-cloak>
                <thead>
                    <tr>
                        <th><a href>#
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a></th>
                        <th><a href ng-click="orderByField='date'; reverseSort = !reverseSort">Date
                                <span ng-show="orderByField == 'date' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'date' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th><a href ng-click="orderByField='name'; reverseSort = !reverseSort">Name
                                <span ng-show="orderByField == 'name' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'name' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a></th>
                        <th><a href ng-click="orderByField='email'; reverseSort = !reverseSort">Email
                                <span ng-show="orderByField == 'email' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'email' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a></th>
                        <th><a href ng-click="orderByField='step1'; reverseSort = !reverseSort">Step 1
                                <span ng-show="orderByField == 'step1' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'step1' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a></th>
                        <th><a href ng-click="orderByField='step2'; reverseSort = !reverseSort">Step 2
                                <span ng-show="orderByField == 'step2' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'step2' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th><a href ng-click="orderByField='step3'; reverseSort = !reverseSort">Step 3
                                <span ng-show="orderByField == 'step3' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'step3' && reverseSort" class="fa fa-caret-up"></span>
                                &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                            </a></th>
                        <th><a href ng-click="orderByField='step4'; reverseSort = !reverseSort">Step 4
                                <span ng-show="orderByField == 'step4' && !reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="orderByField == 'step4' && reverseSort" class="fa fa-caret-up"></span></a></th>
                        &nbsp; <i class="fa fa-filter" aria-hidden="true"></i>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tableData | orderBy:orderByField:reverseSort" ng-click="filterTableData(t,$index)">
                        <td>{{$index+1}}</td>
                        <td>{{t.date | date : "mediumDate"}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.email}}</td>
                        <td>{{t.step1}}</td>
                        <td>{{t.step2}}</td>
                        <td>{{t.step3}}</td>
                        <td>{{t.step4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>